.feed-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    top: 5px;
}

.feed-trending-card{
    width: 100%;
    background-color: rgb(245, 248, 250);
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(245, 248, 250);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.feed-card-header{
    border-bottom: 1px solid rgb(230, 236, 240);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
}

.feed-card-trend{
    border-bottom: 1px solid rgb(230, 236, 240);
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover{
        background-color: rgba(0, 0, 0, 0.03);
    }
    div:nth-child(1){
        font-size: 13px;
        color: rgb(101, 119, 134);
    }
    div:nth-child(2){
        font-size: 15px;
        color: rgb(20, 23, 26);
        font-weight: bold;
        padding-top: 2px;
    }
    div:nth-child(3){
        font-size: 15px;
        color: rgb(101, 119, 134);
        padding-top: 2px;
    }
}

.feed-more{
    padding: 15px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 15px;
    color: rgb(29,161,242);
}


////@extend

.sugg-result-wapper{
    cursor: pointer;
    display: flex;
    
}

.search-userPic-wrapper{
    flex-basis: 49px;
    margin-right: 10px;   
}

.search-user-details{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-user-info{
    display: flex;
    flex-direction: column;
}

.search-user-name{
    font-weight: bold;
    color: rgb(20, 23, 26) !important;
    font-weight: 600 !important;
}

.search-user-username{
    color: #657786 !important;
    font-weight: 400 !important;
    line-height: 1;
}

.search-user-bio{
    margin-top: 7px;
}

.search-user-warp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.follow-btn-wrap{
    min-height: 30px;
    min-width: 70px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid #1da1f2;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    &:hover{
        background-color: rgba(29, 161, 242, 0.1);
    }
}

.follow-btn-wrap span{
    text-align: center;
    font-weight: 800;
    color: #1da1f2;
    width: 100%;
}