.alert-wrapper{
    position: fixed;
    top: 100px;
    width: 100%;
    text-align: center;
    z-index: 1000;
    position: fixed;
    transition: top 0.4s ease-in;
}

.alert-content{
    background-color: #1da1f2;
    color: #fff;
    font-weight: 600;
    border: 1px solid #e6ecf0;
    -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    display:inline-block;
    padding: 8px 14px;
    border-radius: 200px;
}