.Home-wrapper{
    max-width: 600px;
    border-right: 1px solid rgb(230, 236, 240);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Home-header-wrapper{
    position: sticky;
    border-bottom: 1px solid rgb(230, 236, 240);
    border-left: 1px solid rgb(230, 236, 240);
    background-color: #fff;
    z-index: 3;
    top: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 53px;
    min-height: 53px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.Home-header{
    font-weight: 800;
    font-size: 19px;
    color: rgb(20, 23, 26);
    line-height: 1.3125;
}

.Tweet-input-wrapper{
    padding: 10px 15px 5px 15px;
    display: flex;
    margin-bottom: 2px;
}

.Tweet-profile-wrapper{
    flex-basis: 49px;
    padding-top: 5px;
    margin-right: 10px;
}
.Tweet-input-side{
    display: flex;
    flex-direction: column;
    position: static;
    width: calc(100% - 49px);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding-top: 5px;
    line-height: 1.3125;   
}

.inner-input-box{
    padding: 10px 0;
    font-size: 19px;
    color: #9197a3
}

.inner-input-links{
    display: flex;
    justify-content: space-between;
    margin: 0 2px;
    
}

.input-links-side{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.input-attach-wrapper{
    width: 39px;
    height: 39px;
    cursor: pointer;
    padding: 8.3px;
}
.input-attach-wrapper:hover{
    border-radius: 50%;
    background-color: rgba(29, 161, 242,0.1);
}

.tweet-btn-side{
    margin: 10px 0 0 10px;
    min-height: 39px;
    min-width: calc(62.79px);
    background-color: rgb(29, 161, 242);
    padding: 0 1em;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    opacity: 0.5;
}

.Tweet-input-divider{
    min-height: 10px;
    height: 10px;
    background-color: rgb(230, 236, 240);
    content: '';
}

.Tweet-card-wrapper{
    border-bottom: 1px solid rgb(230, 236, 240);
    display: flex;
    transition: 0.2s ease-in-out;
    will-change: background-color;
    cursor: pointer;
    padding: 10px 15px;
    &:hover{
        background-color: rgb(245,248,250);
    }
}

.card-userPic-wrapper{
    flex-basis: 49px;
    margin-right: 10px;   
}

.card-content-wrapper{
    flex-basis: calc(100% - 49px);
}

.card-content-header{
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}


.card-header-user:hover{
    text-decoration: underline;
}


.card-header-date{
    &:hover{
        text-decoration: underline;
    }
}

.card-header-user{
    font-weight: bold;
}

.card-header-username{
    margin-left: 5px;
    color: rgb(101, 119, 134)
}

.card-header-dot{
    padding: 0 5px;
    color: rgb(101, 119, 134)
}

.card-header-date{
    color: rgb(101, 119, 134)

}

.card-header-more{

}

.card-content-images{
    margin-top: 10px;
    border: 1px solid rgb(204, 214, 221);
    border-radius: 14px;
    // display: flex;
    // flex-direction: column;

}

.card-image-link{
    cursor: pointer;
    display: block;
    max-height: 253px;
    border-radius: 14px;

    img{
        max-height:253px;
        border-radius: 14px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card-buttons-wrapper{
    margin-top: 5px;
    max-width: 425px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5px;
}

.card-button-wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(134, 120, 101);
    &:hover{
        .reply-icon{
            .card-button-wrap{color: rgb(212, 11, 11) !important}
            background-color: rgba(29, 161, 242,0.1);
            svg{ fill: rgb(29, 161, 242) !important; }
        }
        .retweet-icon{
            background-color: rgba(23, 191, 99,0.1);
            svg{ fill: rgb(23, 191, 99) !important; }
        }
        .heart-icon{
            
            background-color: rgba(224, 36, 94,0.1);
            svg{ fill: rgb(224, 36, 94) !important; }
        }
        .share-icon{
            background-color: rgba(29, 161, 242,0.1);
            svg{ fill: rgb(29, 161, 242) !important; }
        }
    }
}
.reply-wrap:hover{
    color: rgb(29, 161, 242);
}
.retweet-wrap:hover{
    color: rgb(23, 191, 99);
}
.heart-wrap:hover{
    color: rgb(224, 36, 94);
}

.card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.4px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    will-change: background-color;
}

.card-icon-value{
    margin-left: 3px;
    font-size: 13px;

}