.chat-wrapper{
    max-width: 100%;
    border-right: 1px solid rgb(230, 236, 240);
    width: 100%;
    color: #657786;
    min-height: 100vh;
}

.chat-header-wrapper{
    position: sticky;
    border-bottom: 1px solid rgb(230, 236, 240);
    border-left: 1px solid rgb(230, 236, 240);
    background-color: #fff;
    z-index: 3;
    top: 0px;
    display: flex;
    align-items: center;
    height: 53px;
    min-height: 53px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 320px;
    margin: 0 auto;
    width: 100%;
    font-weight: 800;
    font-size: 19px;
    color: #14171a;
}
