.listp-banner{
    max-height: 199px;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.listp-details-wrap{
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(230, 236, 240);;
}

.list-owner-wrap{
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    &:hover{
        h4{text-decoration: underline;}
    }
    div{
        margin-left: 5px;
        color: rgb(101, 119, 134);
    }
}

.Members:hover{
    text-decoration: underline;
}

.listp-edit-btn{
    margin: 20px 0;
    min-width: 92px;
    min-height: 39px;
    display: flex;
    font-weight: bold;
    color: rgb(29, 161, 242);
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(29, 161, 242);
    border-radius: 9999px;
    transition: 0.2s ease-in-out;
    &:hover{
        background-color: rgba(29,161,242,0.1);
    }
}

.list-description{
    margin-top: 10px;
}

/////////////

.modal-edit{
    // display: none;
    position: fixed; 
    z-index: 20; 
    // padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content{
    min-height: 400px;
    max-width: 80vw;
    max-height: 90vh;
    height: 650px;
    width: 600px;
    min-width: 600px;
    border-radius: 14px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.modal-header{
    height: 53px;
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid rgb(204, 214, 221);
    max-width: 1000px;
    width: 100%;

}

.modal-closeIcon{
    display: flex;
    justify-content: flex-start;
    margin-left: 4px;
    align-items: center;
    min-width: 59px;
    min-height: 30px;
}

.modal-closeIcon-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 9999px;
    width: 39px;
    height: 39px;
    cursor: pointer;
}

.modal-closeIcon-wrap:hover{
    background-color: rgba(29,161,242,0.1);
}

.modal-closeIcon-wrap svg{
    fill: rgb(29, 161, 242);
    height: 22.5px;
}

.modal-title{
    font-weight: bold;
    font-size: 19px;
    width: 100%;
}

.save-modal-wrapper{
    margin-right: 8px;
    min-height: 39px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-modal-btn{
    // width: 48px;
    min-height: 30px;
    transition: 0.2s ease-in-out;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    background-color: rgb(29,161,242);
    border: 1px solid rgba(0,0,0,0);
    border-radius: 9999px;
    line-height: 20px;
    cursor: pointer;
}

.save-modal-btn:hover{
    background-color: rgb(26, 145, 218);
}

.modal-body{
    display: flex;
    flex-direction: column;
    
}

.modal-banner{
    max-height: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-banner img{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.75;
}

.modal-banner div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-banner div input{
    width: 22.5px;
    min-width: 22.5px;
    height: 22.5px;
    overflow: hidden;
    z-index: 20;
    padding: 10px 0 10px 30px;
    cursor: pointer;
    color: inherit;
    background-color: initial;
    outline: none;
    border: initial;
}


.modal-banner div svg{
    cursor: pointer;
    position: absolute;
    fill: #fff;
    width: 22.5px;
    min-width: 22.5px;
    height: 22.5px;
}

.modal-profile-pic{
    height: 120px;
    width: 120px;
    border: 4px solid #fff;
    border-radius: 50%;
    margin-left: 16px;
    margin-top: -48px;
    z-index: 5;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-back-pic{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
}

.modal-back-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.6;
    border-radius: 50%;
}

.modal-back-pic div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-back-pic div input{
    width: 22.5px;
    min-width: 22.5px;
    height: 22.5px;
    overflow: hidden;
    z-index: 20;
    padding: 10px 0 10px 30px;
    cursor: pointer;
    color: inherit;
    background-color: initial;
    outline: none;
    border: initial;
}


.modal-back-pic div svg{
    cursor: pointer;
    position: absolute;
    fill: #fff;
    width: 22.5px;
    min-width: 22.5px;
    height: 22.5px;
}

.edit-form{
    width: 100%;
}

.edit-input{
    background-color: inherit;
    border: inherit;
}

.edit-input:focus{
    background-color: inherit;
    border: inherit;
}

.edit-input-wrap{
    padding: 10px 15px;
    margin-bottom: 15px;
}

.edit-input-content{
    border-bottom: 1px solid rgb(64, 67, 70);
    background-color: rgb(245, 248, 250);
    label{
        color: rgb(101, 119, 134);
        display: block;
        padding: 5px 10px 0 10px;
    }
    input{
        width: 100%;
        outline: none;
        font-size: 19px;
        padding: 2px 10px 5px 10px;
    }
}

///@extend
.modal-delete-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(224, 36, 94);
    border-top: 1px solid rgb(230, 236, 240);
    border-bottom: 1px solid rgb(230, 236, 240);
    padding: 15px;
    min-height: 49px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    will-change: background-color;
    margin-top: 30px;
    &:hover{
        font-weight: 600;
        background-color: rgba(224, 36, 94, 0.1);
    }
}